<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: head('Bestilling')}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>


<div class="container mt-5 p-3 pt-5 bg-body-tertiary">
    <h1>Bestil QuickByg tilbud - carport med fladt tag</h1>
    <p>Med et specialudviklet computerprogram kan vi lynhurtigt beregne prisen og udskrive en skitsetegning på en carport indenfor vores standardprogram. <br>Tilbud og skitsetegning fremsendes med post hurtigst muligt.<br>Ved bestilling medfølger standardbyggevejledning.</p>
    <p>Udfyld formularen omhyggeligt og klik på "Bestil tilbud".<br>Felter markeret med * SKAL udfyldes!</p>
    <form method="post" action="/bestilling">
        <div class="container bg-white p-3">
            <h3>Carport med fladt tag</h3>
            <p>
                Udfyld nedenstående omhyggeligt og tryk "Bestil tilbud".<br>
                Så vender vi hurtigst muligt tilbage med et tilbud til dig.
            </p>
            <div class="row mb-3">
                <label for="carportWidth" class="form-label fw-bold">
                    Carport bredde*
                </label>
                <div class="_field-wrapper">
                    <select class="form-select" name="carportWidth" id="carportWidth" required="" data-name="carportWidth">
                        <option selected="">
                        </option>
                        <option value="240 cm">
                            240 cm
                        </option>
                        <option value="270 cm">
                            270 cm
                        </option>
                        <option value="300 cm">
                            300 cm
                        </option>
                        <option value="330 cm">
                            330 cm
                        </option>
                        <option value="360 cm">
                            360 cm
                        </option>
                        <option value="390 cm">
                            390 cm
                        </option>
                        <option value="420 cm">
                            420 cm
                        </option>
                        <option value="450 cm">
                            450 cm
                        </option>
                        <option value="480 cm">
                            480 cm
                        </option>
                        <option value="510 cm">
                            510 cm
                        </option>
                        <option value="540 cm">
                            540 cm
                        </option>
                        <option value="570 cm">
                            570 cm
                        </option>
                        <option value="600 cm">
                            600 cm
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="carportLength" class="form-label fw-bold">
                    Carport længde*
                </label>
                <div class="_field-wrapper">
                    <select class="form-select" name="carportLength" id="carportLength" required="" data-name="carportLength">
                        <option selected="">
                        </option>
                        <option value="240 cm">
                            240 cm
                        </option>
                        <option value="270 cm">
                            270 cm
                        </option>
                        <option value="300 cm">
                            300 cm
                        </option>
                        <option value="330 cm">
                            330 cm
                        </option>
                        <option value="360 cm">
                            360 cm
                        </option>
                        <option value="390 cm">
                            390 cm
                        </option>
                        <option value="420 cm">
                            420 cm
                        </option>
                        <option value="450 cm">
                            450 cm
                        </option>
                        <option value="480 cm">
                            480 cm
                        </option>
                        <option value="510 cm">
                            510 cm
                        </option>
                        <option value="540 cm">
                            540 cm
                        </option>
                        <option value="570 cm">
                            570 cm
                        </option>
                        <option value="600 cm">
                            600 cm
                        </option>
                        <option value="630 cm">
                            630 cm
                        </option>
                        <option value="660 cm">
                            660 cm
                        </option>
                        <option value="690 cm">
                            690 cm
                        </option>
                        <option value="720 cm">
                            720 cm
                        </option>
                        <option value="750 cm">
                            750 cm
                        </option>
                        <option value="780 cm">
                            780 cm
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="carportRoof" class="form-label fw-bold">
                    Carport trapeztag*
                </label>
                <div class="_field-wrapper">
                    <select class="form-select" name="carportRoof" id="carportRoof" required="" data-name="carportRoof">
                        <option selected>
                        </option>
                        <option value="Uden tagplader">
                            Uden tagplader
                        </option>
                        <option value="Plasttrapezplader">
                            Plasttrapezplader
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="_html-code">
                    <p><b>Redskabsrum</b><br>
                    NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet*
                    </p>
                </div>
            </div>
            <div class="row mb-3">
                <label for="shedWidth" class="form-label">
                    Redskabsrum bredde*
                </label>
                <div class="_field-wrapper">
                    <select class="form-select" name="shedWidth" id="shedWidth" required="" data-name="shedWidth">
                        <option value="Uden redskabsrum" selected>
                            Uden redskabsrum
                        </option>
                        <option value="210 cm">
                            210 cm
                        </option>
                        <option value="240 cm">
                            240 cm
                        </option>
                        <option value="270 cm">
                            270 cm
                        </option>
                        <option value="300 cm">
                            300 cm
                        </option>
                        <option value="330 cm">
                            330 cm
                        </option>
                        <option value="360 cm">
                            360 cm
                        </option>
                        <option value="390 cm">
                            390 cm
                        </option>
                        <option value="420 cm">
                            420 cm
                        </option>
                        <option value="450 cm">
                            450 cm
                        </option>
                        <option value="480 cm">
                            480 cm
                        </option>
                        <option value="510 cm">
                            510 cm
                        </option>
                        <option value="540 cm">
                            540 cm
                        </option>
                        <option value="570 cm">
                            570 cm
                        </option>
                        <option value="600 cm">
                            600 cm
                        </option>
                        <option value="630 cm">
                            630 cm
                        </option>
                        <option value="660 cm">
                            660 cm
                        </option>
                        <option value="690 cm">
                            690 cm
                        </option>
                        <option value="720 cm">
                            720 cm
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="shedLength" class="form-label">
                    Redskabsrum længde*
                </label>
                <div class="_field-wrapper">
                    <select class="form-select" name="shedLength" id="shedLength" required="" data-name="shedLength">
                        <option value="Uden redskabsrum" selected>
                            Uden redskabsrum
                        </option>
                        <option value="150 cm">
                            150 cm
                        </option>
                        <option value="180 cm">
                            180 cm
                        </option>
                        <option value="210 cm">
                            210 cm
                        </option>
                        <option value="240 cm">
                            240 cm
                        </option>
                        <option value="270 cm">
                            270 cm
                        </option>
                        <option value="300 cm">
                            300 cm
                        </option>
                        <option value="330 cm">
                            330 cm
                        </option>
                        <option value="360 cm">
                            360 cm
                        </option>
                        <option value="390 cm">
                            390 cm
                        </option>
                        <option value="420 cm">
                            420 cm
                        </option>
                        <option value="450 cm">
                            450 cm
                        </option>
                        <option value="480 cm">
                            480 cm
                        </option>
                        <option value="510 cm">
                            510 cm
                        </option>
                        <option value="540 cm">
                            540 cm
                        </option>
                        <option value="570 cm">
                            570 cm
                        </option>
                        <option value="600 cm">
                            600 cm
                        </option>
                        <option value="630 cm">
                            630 cm
                        </option>
                        <option value="660 cm">
                            660 cm
                        </option>
                        <option value="690 cm">
                            690 cm
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="remark" class="form-label">
                    Evt. bemærkning / særlige ønsker
                </label>
                <div class="_field-wrapper">
                    <textarea class="form-control" id="remark" name="remark" placeholder="" data-name="bemærkning"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="_html-code">
                    <hr>
                    <p><b>Kontaktoplysninger:</b></p>
                </div>
            </div>
            <div class="row mb-3">
                <label for="name" class="form-label">
                    Navn*
                </label>
                <div class="_field-wrapper">
                    <input class="form-control" type="text" id="name" name="name" placeholder="Fornavn og efternavn" required="" data-name="name">
                </div>
            </div>
            <div class="row mb-3">
                <label for="address" class="form-label">
                    Adresse*
                </label>
                <div class="">
                    <input class="form-control" type="text" id="address" name="address" value="" placeholder="Adresse (vej + nummer)" required="" data-name="address">
                </div>
            </div>
            <div class="row mb-3">
                <label for="zipcode" class="form-label">
                    Postnummer*
                </label>
                <div class="_field-wrapper">
                    <input class="form-control" type="number" id="zipcode" name="zipcode" value="" placeholder="Postnummer" required="" data-name="zipcode" min="1050" max="9990">
                </div>
            </div>
            <div class="row mb-3">
                <label for="city" class="form-label">
                    By*
                </label>
                <div class="_field-wrapper">
                    <input class="form-control" type="text" id="city" name="city" value="" placeholder="Bynavn" required="" data-name="city">
                </div>
            </div>
            <div class="row mb-3">
                <label for="phoneNumber" class="form-label">
                    Telefon*
                </label>
                <div class="_field-wrapper">
                    <input class="form-control" type="tel" id="phoneNumber" name="phoneNumber" placeholder="Telefon nummer" required="" data-name="phoneNumber">
                </div>
            </div>
            <div class="row mb-3">
                <label for="email" class="form-label">
                    Email*
                </label>
                <div class="_field-wrapper">
                    <input class="form-control" type="email" id="email" name="email" placeholder="Din email adresse" required="" data-name="email">
                </div>
            </div>
            <div class="row mb-3">
                <h4>Kontakt samtykke</h4>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="field_56" name="field[56][]" value="" required data-name="quickbyg_samtykke">
                        <label class="form-check-label" for="field_56">
                          Fog må benytte de afgivne oplysninger til at kontakte mig i forbindelse med tilbud på QuickByg carport*
                        </label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-lg btn-primary" id="_form_65_submit" type="submit" formaction="/bestilling">
                    Bestil tilbud
                </button>
            </div>

        </div>
    </form>

</div>
<footer class="footer text-faded p-3 pt-5">
    Oplysninger, CVR.
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>